<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h1>Admin page</h1>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table cellpadding="7" border="1" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Card number</th>
                <th>Name</th>
                <th>Password</th>
                <th>Card expiry date</th>
                <th>CVV</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.cardNumber}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.cardExpiryDate}"></td>
                <td th:text="${user.CVV}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/user-create">Create user</a></p>
</div>
</body>
</html>